services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: saas_demo
      POSTGRES_USER: saas
      POSTGRES_PASSWORD: saas
    ports:
      - "15432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  app:
    build: .
    env_file:
      - .env
    environment:
      DB_URL: jdbc:postgresql://db:5432/saas_demo
      DB_USERNAME: saas
      DB_PASSWORD: saas
    ports:
      - "18080:8080"
    depends_on:
      - db

volumes:
  pgdata:
