<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/app.css" />
  <title>Select tenant</title>
</head>
<body>
  <main>
    <div class="card">
      <h1>Select a tenant</h1>
      <ul>
        <li th:each="tenant : ${tenants}">
          <a th:text="${tenant.name}" th:href="'http://' + ${tenant.key} + '.localhost:8080/ui/projects'">Tenant</a>
        </li>
      </ul>
    </div>
  </main>
</body>
</html>
